*{
    margin: 0;
    padding: 0;
}
body {
    font-family: roboto;
    background-image: url("background-image.png");
    color: white;
}
.signup,
.logout,
.upd,
.login{
    width: 48.5%;
    background: #34b3a0;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: white;
    border-style: outset;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    background: rgba(0, 255, 0, 0.3);;
}
.content{
    background: DarkSlateGray;
    padding-top: 20px;
    width: 400px;
    height: auto;
    margin: 30px auto;
    text-align: center;
}
img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}