input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px DarkSlateGray inset;
    transition: background-color 5000s ease-in-out 0s;

}

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: roboto;
   /* font-family: "Lucida Console", Courier, monospace;*/
    background-image: url("background-image.png");
}
ul{
    color: white;
}
/*
body{
    background: #e9eaea;
    font-family: roboto;
    user-select: none;
}
*/

.container{
    width: 450px;
    margin: 30px auto;
}
#regsignup{
    background: #34b3a0;
}

#loglogin{
    background: #34b3a0;
}

.signup,
.login{
    width: 50%;
    background: DarkSlateGray;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.signup-form,
.login-form{
    background: DarkSlateGray;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    color: white;
}

.input{
    background-color: DarkSlateGray;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: white;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}

.input:focus{
    border: 2px solid yellow;
    background-color: DarkSlateGray;
}

.btn{
    width: 100%;
    background: #34b3a0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 0;
}

a{
    color: white;
    text-decoration: none;
}

